<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>  
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inventory.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
                                                                                                                      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InventoryContext" connectionString=" data source=172.20.4.20;initial catalog=inventory_development;persist security info=True;user id=aelmendorf;password=Drizzle123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="InventoryContext" connectionString=" data source=172.20.4.20;initial catalog=inventory_database;persist security info=True;user id=aelmendorf;password=Drizzle123!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <Inventory.Common.Properties.Settings>
      <setting name="LDAP_UserName" serializeAs="String">
        <value>SETI\elmendorfal</value>
      </setting>
      <setting name="LDAP_EncryptedPassword" serializeAs="String">
        <value>hQeY3bO3C2cC/DHXF3vmv4KwPZJpIJeDCHGqMDK+J6U=</value>
      </setting>
      <setting name="LDAP_Key" serializeAs="String">
        <value>lNmrUIFj/zLnOUO3FrmbGKdQ0nY8eN9TpNrk/zPytAE=</value>
      </setting>
      <setting name="LDAP_IV" serializeAs="String">
        <value>3lryijwucB/DQAwPStmUbetOTAfw37cl6Y2DHH7hN6E=</value>
      </setting>
      <setting name="LDAP_EncryptedAddress" serializeAs="String">
        <value>59Ho/m6wetIUX2zd8ph+8NvI1/PH9OhTt4m6f4S21+I=</value>
      </setting>
    </Inventory.Common.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
